ShipmentDHL/Service References/ShipWebReference/cis_base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cis="http://dhl.de/webservice/cisbase" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dhl.de/webservice/cisbase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="countryISOType">
    <xs:annotation>
      <xs:documentation>Country specific ISO code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EKP">
    <xs:annotation>
      <xs:documentation>First 10 digit number extract from the 14 digit DHL Account Number. E.g. if DHL Account Number is "5000000008 72 01" then EKP is equal to 5000000008.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="partnerID">
    <xs:annotation>
      <xs:documentation>Field has the partner id. I.e. the last 2 digit number extract from the 14 digit DHL Account Number. E.g. if DHL Account Number is "5000000008 72 01" then Attendance is 01. </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="2" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="procedureID">
    <xs:annotation>
      <xs:documentation>Procedure ID (part of account number).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="2" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="accountNumber">
    <xs:annotation>
      <xs:documentation>DHL account number (14 digits).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="14" />
        <xs:maxLength value="14" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="accountNumberExpress">
    <xs:annotation>
      <xs:documentation>Express AccountNumber (9 digits).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="9" />
        <xs:maxLength value="9" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="identCode">
    <xs:annotation>
      <xs:documentation>Ident code number.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="12" />
        <xs:maxLength value="12" />
        <xs:pattern value="[0-9]{12}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="licensePlate">
    <xs:annotation>
      <xs:documentation>License plate number.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="39" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="airwayBill">
    <xs:annotation>
      <xs:documentation>Airway bill number.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="routeCode">
    <xs:annotation>
      <xs:documentation>route code (default).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="14" />
        <xs:maxLength value="14" />
        <xs:pattern value="[0-9]{14}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="routingCode">
    <xs:annotation>
      <xs:documentation>RoutingCode EAN or ANSI/FACT</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="39" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Zip" type="cis:ZipType">
    <xs:annotation>
      <xs:documentation>Element provides choice of zip code selection. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="city">
    <xs:annotation>
      <xs:documentation>City name.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="streetNameCode">
    <xs:annotation>
      <xs:documentation>Code for street name (part of routecode).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="3" />
        <xs:maxLength value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="streetNumberCode">
    <xs:annotation>
      <xs:documentation>Code for street number (part of routecode).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="3" />
        <xs:maxLength value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Origin" type="cis:CountryType">
    <xs:annotation>
      <xs:documentation>Country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Authentification" type="cis:AuthentificationType">
    <xs:annotation>
      <xs:documentation>Authentification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version">
    <xs:annotation>
      <xs:documentation>Version numbers containing major/minor release and an optional build id. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="majorRelease">
          <xs:annotation>
            <xs:documentation>The number of the major release. E.g. the '2' in version "2.1.".</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="minorRelease">
          <xs:annotation>
            <xs:documentation>The number of the minor release. E.g. the '1' in version "2.1.".</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="build">
          <xs:annotation>
            <xs:documentation>Optional build id to be addressed.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AuthentificationType">
    <xs:annotation>
      <xs:documentation>Type of authentification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="user">
        <xs:annotation>
          <xs:documentation>Username</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="signature">
        <xs:annotation>
          <xs:documentation>User-id / password (pref. MD5 encoded)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" ref="cis:accountNumber" />
      <xs:element default="0" name="type">
        <xs:annotation>
          <xs:documentation>Authentification mode</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer" />
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NativeAddressType">
    <xs:annotation>
      <xs:documentation>Type of native address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="streetName">
        <xs:annotation>
          <xs:documentation>Name of street.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="streetNumber">
        <xs:annotation>
          <xs:documentation>House number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="careOfName">
        <xs:annotation>
          <xs:documentation>Address addon - care of c/o name.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:Zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" name="district">
        <xs:annotation>
          <xs:documentation>District of the city.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" ref="cis:Origin" />
      <xs:element minOccurs="0" name="floorNumber">
        <xs:annotation>
          <xs:documentation>Floor number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="roomNumber">
        <xs:annotation>
          <xs:documentation>Room number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="languageCodeISO" type="cis:countryISOType">
        <xs:annotation>
          <xs:documentation>ISO code for the language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="note">
        <xs:annotation>
          <xs:documentation>Particular notes e.g. for pickup or delivery.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PickupAddressType">
    <xs:annotation>
      <xs:documentation>Type of pickup address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>can be</xs:documentation>
        </xs:annotation>
        <xs:element name="NativeAddress" type="cis:NativeAddressType">
          <xs:annotation>
            <xs:documentation>Default address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PackStation" type="cis:PackStationType">
          <xs:annotation>
            <xs:documentation>Packstation address</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" ref="cis:streetNameCode" />
      <xs:element minOccurs="0" ref="cis:streetNumberCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryAddressType">
    <xs:annotation>
      <xs:documentation>Type of delivery address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>can be</xs:documentation>
        </xs:annotation>
        <xs:element name="NativeAddress" type="cis:NativeAddressType">
          <xs:annotation>
            <xs:documentation>Default address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PostOffice" type="cis:PostOfficeType">
          <xs:annotation>
            <xs:documentation>Postoffice address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PackStation" type="cis:PackStationType">
          <xs:annotation>
            <xs:documentation>Packstation address</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" ref="cis:streetNameCode" />
      <xs:element minOccurs="0" ref="cis:streetNumberCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankType">
    <xs:annotation>
      <xs:documentation>Type of bank information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="accountOwner" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of bank account owner.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bank account number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bankCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bank code number. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bankName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of bank.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="iban" type="xs:string">
        <xs:annotation>
          <xs:documentation>IBAN code of bank account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="note">
        <xs:annotation>
          <xs:documentation>Purpose of bank information.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="bic">
        <xs:annotation>
          <xs:documentation>Bank-Information-Code (BankCCL) of bank account.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="11" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:annotation>
      <xs:documentation>Type of name</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:annotation>
        <xs:documentation>can be</xs:documentation>
      </xs:annotation>
      <xs:element name="Person">
        <xs:annotation>
          <xs:documentation>Name is a person.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:annotation>
              <xs:documentation>includes</xs:documentation>
            </xs:annotation>
            <xs:element minOccurs="0" name="salutation">
              <xs:annotation>
                <xs:documentation>Salutation of person (Mr./Mrs.).</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="title">
              <xs:annotation>
                <xs:documentation>Title of person (e.g. 'Dr.').</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="firstname">
              <xs:annotation>
                <xs:documentation>First name.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="middlename">
              <xs:annotation>
                <xs:documentation>Middle name.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="lastname">
              <xs:annotation>
                <xs:documentation>Last name of person.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Company">
        <xs:annotation>
          <xs:documentation>Name is a company.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:annotation>
              <xs:documentation>includes</xs:documentation>
            </xs:annotation>
            <xs:element name="name1">
              <xs:annotation>
                <xs:documentation>Name of company (first part).</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="name2">
              <xs:annotation>
                <xs:documentation>Name of company (second part).</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CommunicationType">
    <xs:annotation>
      <xs:documentation>Type of communication.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="phone">
        <xs:annotation>
          <xs:documentation>Phone number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="email">
        <xs:annotation>
          <xs:documentation>Emailaddress. </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="fax">
        <xs:annotation>
          <xs:documentation>Fax number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="mobile">
        <xs:annotation>
          <xs:documentation>Mobile number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="internet">
        <xs:annotation>
          <xs:documentation>Web address.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="contactPerson">
        <xs:annotation>
          <xs:documentation>First name and last name of contact person.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>Type of contact.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="Communication" type="cis:CommunicationType">
        <xs:annotation>
          <xs:documentation>Contact communication information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Address" type="cis:NativeAddressType">
        <xs:annotation>
          <xs:documentation>Contact address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="cis:NameType">
        <xs:annotation>
          <xs:documentation>Contact name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackStationType">
    <xs:annotation>
      <xs:documentation>Type of packstation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="number">
        <xs:annotation>
          <xs:documentation>ID of customer.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="stationID">
        <xs:annotation>
          <xs:documentation>ID of Packstation.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="3" />
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:Zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostOfficeType">
    <xs:annotation>
      <xs:documentation>Type of post office</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="number">
        <xs:annotation>
          <xs:documentation>Number of postoffice.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
            <xs:pattern value="[0-9]{1,10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:Zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerType">
    <xs:annotation>
      <xs:documentation>Type of customer</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="Name" type="cis:NameType">
        <xs:annotation>
          <xs:documentation>Name of customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vatID" type="xs:string">
        <xs:annotation>
          <xs:documentation>VAT id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cis:EKP" />
      <xs:element name="Address" type="cis:NativeAddressType">
        <xs:annotation>
          <xs:documentation>Address of customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contact" type="cis:ContactType">
        <xs:annotation>
          <xs:documentation>Contact information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bank" type="cis:BankType">
        <xs:annotation>
          <xs:documentation>Bank information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="note">
        <xs:annotation>
          <xs:documentation>Additional notes</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:annotation>
      <xs:documentation>Type of error</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="priority" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Priority (e.g. error, warnung, .....)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Occurence</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Short description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="descriptionLong" type="xs:string">
        <xs:annotation>
          <xs:documentation>Detailed description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="solution" type="xs:string">
        <xs:annotation>
          <xs:documentation>Suggested solution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="application" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of application</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="module" type="xs:string">
        <xs:annotation>
          <xs:documentation>Module name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZipType">
    <xs:annotation>
      <xs:documentation>Type of zip code</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:annotation>
        <xs:documentation>can be</xs:documentation>
      </xs:annotation>
      <xs:element name="germany">
        <xs:annotation>
          <xs:documentation>To be used for providing zip code if address is in Germany.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5" />
            <xs:maxLength value="5" />
            <xs:pattern value="[0-9]{5}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="england">
        <xs:annotation>
          <xs:documentation>To be used for providing zip code if address is in England.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="other">
        <xs:annotation>
          <xs:documentation>Zip code if address is neither in Germany nor in England.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>Type of country</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="country">
        <xs:annotation>
          <xs:documentation>Name of country.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="countryISOCode" type="cis:countryISOType">
        <xs:annotation>
          <xs:documentation>Country's ISO-Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="state">
        <xs:annotation>
          <xs:documentation>Name of state.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipmentNumberType">
    <xs:annotation>
      <xs:documentation>Type of shipment number (IDC, LP)</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:annotation>
        <xs:documentation>can be</xs:documentation>
      </xs:annotation>
      <xs:element ref="cis:identCode" />
      <xs:element ref="cis:licensePlate" />
      <xs:element ref="cis:airwayBill">
        <xs:annotation>
          <xs:documentation>Airway Bill Number </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cis:shipmentNumber" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="Status">
    <xs:annotation>
      <xs:documentation>part of webservice response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="statuscode">
          <xs:annotation>
            <xs:documentation>statuscode value.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="statusDescription">
          <xs:annotation>
            <xs:documentation>description corresponding to the statuscode</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="500" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productKey">
    <xs:annotation>
      <xs:documentation>DHL product Key.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="9" />
        <xs:minLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Dimension">
    <xs:annotation>
      <xs:documentation>Package dimensions (length, width, height)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="length" type="xs:int">
          <xs:annotation>
            <xs:documentation>length of package</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="width" type="xs:int">
          <xs:annotation>
            <xs:documentation>width of package</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="height" type="xs:int">
          <xs:annotation>
            <xs:documentation>height of package</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" default="mm" name="unit">
          <xs:annotation>
            <xs:documentation>unit for all measures</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
              <xs:enumeration value="mm" />
              <xs:enumeration value="inch" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeFrame">
    <xs:annotation>
      <xs:documentation>Time Frame in which actions should affect</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="from" type="xs:time">
          <xs:annotation>
            <xs:documentation>begin of timeframe</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="until" type="xs:time">
          <xs:annotation>
            <xs:documentation>end of timeframe</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shipmentNumber">
    <xs:annotation>
      <xs:documentation>Can contain any DHL shipmentnumber.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="39" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>